header {
    height: 80px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    text-align: center;
    flex: 1;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    margin-right: 10px;
}

header h1 span {
    color: rgb(55, 200, 255);
}

body {
    background-color: lemonchiffon;
    margin: 0;
}